* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    font-family: "Lato", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.myForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 30px;
    border-radius: 19px;
    border: solid 2px black;

    button {
        border-radius: 15px;
        padding: 5px;
        border: solid 1px rgba(0, 0, 0, 0.66);
        cursor: pointer;
    }
}

input {
    border-radius: 15px;
    padding: 5px;
    border: solid 1px rgba(0, 0, 0, 0.66);
    width: 90%;
    text-align: center;
}

/* Para navegadores WebKit (Chrome, Safari, Edge) */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* Para Firefox */
input[type=number] {
    -moz-appearance: textfield;
}

.messageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    padding: 30px;
    border-radius: 19px;
    border: solid 2px black;
}
